<% if current_page?(root_url) %><!-- show this on home page only -->

  <div class="clearfix newsletter-home">
    <% if current_user %>
      <div class="auth">
        <%= link_to "Show", newsletter %>
      </div>
      </br>
    <% end %>

    <a href="newsletters/#<%= newsletter.id %>" class="pos-r dis-b">
      <h2 class="hh1"><%= newsletter.title %></h2>
      <h5 class="hh5"><%= newsletter.date.strftime("%m/%d/%Y") %></h5>
      <h2><%= newsletter.subtitle %></h2>
      <%= image_tag newsletter.image.url(:medium), class: "home-newsletter-image" %>
      <div class="buffer4"></div>
    </a>
  </div>


<% else %><!-- dont show this on home page -->

  <div class="clearfix">
    <% if current_user %>
      <div class="auth">
        <%= link_to "Show", newsletter %>
      </div>
      </br>
    <% end %>

    <div id="<%= newsletter.id %>"></div>
    <h2 class="hh1"><%= newsletter.title %></h2>
    <h5 class="hh5"><%= newsletter.date.strftime("%m/%d/%Y") %></h5>
    <h2><%= newsletter.subtitle %></h2>
    <%= image_tag newsletter.image.url(:medium), class: "left-image" %>
    <%=  markdown(newsletter.body) %>
    <div class="buffer4"></div>
  </div>

<% end%>
