<div class="clearfix">
  <h2 class="hh1"><%= newsletter.title %></h2>
  <% if current_user %>
    <div class="auth">
      <%= link_to "Show Newsletter", newsletter %>
    </div>
    </br>
  <% end %>
  <h5 class="hh5"><%= newsletter.date.strftime("%m/%d/%Y") %></h5>
  <h2><%= newsletter.subtitle %></h2>
  <% if not current_page?(root_url) %><!-- dont show this on home page -->
    <%= image_tag newsletter.image.url(:medium), class: "left-image" %>
    <%=  markdown(newsletter.body) %>
  <% end %>
  <div class="buffer4"></div>
</div>
