<div class="row">
  <div class="small-3 columns">
    <p id="notice"><%= notice %></p>
    <% if current_user %>
      <p class="auth">
        <%= link_to 'Edit', edit_newsletter_path(@newsletter) %>
      </p>
      <p class="auth">
        <%= link_to 'Destroy', @newsletter, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
  <div class="small-12 columns">
    <h1 class="hh1"><%= link_to_unless_current @newsletter.title, @newsletter %></h1>
    <h5 class="hh5"><%= @newsletter.date.strftime("%m/%d/%Y") %></h5>
    <h2><%= @newsletter.subtitle %></h2>
    <% if not current_page?(root_url) %><!-- dont show this on home page -->
      <%= image_tag @newsletter.image.url(:medium), class: "left-image" %>
      <%=  markdown(@newsletter.body) %>
    <% end %>
    <h3><%= link_to 'Newsletters', newsletters_path %></h3>
  </div>
</div>
