<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @newsletter.image.url(:medium) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@newsletter.body) %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
