<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'markdown/markdown' %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class: "bigtext", required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
