<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>Programs</h1>
      <p>
        asd fasd fasd fa dsf as dfa sdf asdfdf asdfa asdfasdf a sdf asdfdsaf asdf asd fasd fasdfasdf afsdfa sd fa sdfasdf
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>programs - <%= link_to 'New Program', new_program_path %></h1>
  </div>
  <div class="small-8 columns">
    <% @programs.each do |program| %>
      <h2>
        <%= program.title %> - <%= link_to 'Edit', edit_program_path(program) %> - <%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %>
      </h2>
      <div><%= program.body %></div>
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= render "education" %>
  </div>
</div>
