<div class="row">
  <div class="small-12 columns">
    <h1>programs - <%= link_to 'New Program', new_program_path %></h1>
  </div>
  <div class="small-8 columns">
    <% @programs.each do |program| %>
      <h2>
        <%= program.title %> - <%= link_to 'Edit', edit_program_path(program) %> - <%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %>
      </h2>
      <div><%= program.body %></div>
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= render "education" %>
  </div>
</div>
