<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>Programs</h1>
      <p>
        What we do at Plant a Seed is divided into three programs: education, clean water, and sports.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5 show-desktop">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">

  <% if current_user %>
    <h1 class="auth">
      <%= link_to 'New Program', new_program_path %>
    </h1>
  <% end %>

  <div class="small-8 columns">
    <% @programs.each do |program| %>
      <h1 class="hh1"><%= program.title %></h1>


  <% if current_user %>
    <p class="auth"><%= link_to 'Show', program %></p>
  <% end %>

      <div><%= markdown(program.body) %></div>
    <% end %>
  </div>
  <div class="small-4 columns">
    <div class="buffer4 show-desktop"></div>
    <%= render "photos" %>
  </div>
</div>
