<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <% if current_user %>
      </br>
      <h3 class="auth">
        <%= link_to 'Edit', edit_program_path(@program) %>
      </h3>
      </br>
      <h3 class="auth">
        <%= link_to 'Destroy', @program, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
      </h3>
      </br>
      <h3 class="auth">
        <%= link_to 'Back', programs_path %>
      </h3>
    <% end %>
    <div class="small-12 columns">
      <h1 class="hh1"><%= @program.title %></h1>
      <div><%= markdown(@program.body) %></div>
    </div>
  </div>
  <div class="small-12 columns">
  </div>
</div>


