<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Title:</strong>
    </p>
     <h1><%= @program.title %></h1>
    <p>
      <strong>Body:</strong>
      <%= markdown(@program.body) %>
    </p>
    <h3><%= link_to 'Edit', edit_program_path(@program) %></h3>
    <h3><%= link_to 'Back', programs_path %></h3>
  </div>
</div>
