<div class="row">
  <div class="small-12 columns">
    <%= link_to "home", root_url %>
    <%= link_to "about", "home#about" %>
    <%= link_to "newsletters", newsletters_path %>
    <%= link_to "news&media", media_path %>
    <%= link_to "donate", "home#donate" %>
  </div>
</div>



