<div class="row">
  <div class="small-12 columns"><p id="notice"><%= notice %></p>
    <% if current_user %>
      </br>
      <h3 class="auth"><%= link_to 'Edit', edit_gift_path(@gift) %></h3>
      </br>
      <h3 class="auth"><%= link_to 'Back', gifts_path %></h3>
    <% end %>
    <div class="clearfix">
      <h1 class="hh1">Section A:</h1>
      <%= markdown(@gift.section) %>
    </div>

    <div class="clearfix">
      <h1 class="hh1">Section B:</h1>
      <%= markdown(@gift.sectionb) %>
    </div>

    <div class="clearfix">
      <h1 class="hh1">Section C:</h1>
      <%= markdown(@gift.sectionc) %>
    </div>

    <div class="clearfix">
      <h1 class="hh1">Section D:</h1>
      <%= markdown(@gift.sectiond) %>
    </div>

  </div>
</div>
