<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>About</h1>
      <p>
        Our current efforts is focused on Cameroon, Africa. Through fundraising events, activities and outside support, Plant a Seed provides financial support for education, sports and community development, working directly with schools, communities and individuals.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <h1 class="hh1">What We Do</h1>
    <p>
      Our current efforts is focused on Cameroon, Africa. Through fundraising events, activities and outside support, Plant a Seed provides financial support for education, sports and community development, working directly with schools, communities and individuals.
    </p>
    <p>
      At present, there is a large need for school fees and/or Parent-Teacher Association fees. Admission to school in Cameroon is contingent upon the ability to pay these fees, especially in the secondary schools. Most children and their families are unable to afford these fees to go to school or learn a trade. When they do managed to come up with the fees, they can barely afford the textbooks, exercise books, pens, uniforms, shoes that they need to successfully go through school. As a result, they are left without the means to better themselves, their family or their community.
    </p>
    <p>
      In order to ensure quality control, Plant A Seed provides donations only to schools, individuals and communities who have personally written and/or have asked for assistance. Charitable distribution is overseen personally by Ruth Akumbu. Those who donate will receive proof of their donation’s impact from the children, school or community it benefits.
    </p>
    <h1 class="hh1">How we started</h1>
    <p>
      In 2001, friends, colleagues and I created the Seek Ye Multipurpose Group in our home, Cameroon, Africa. Our grass roots mission was to provide:
    </p>
    <ul>
      <li>
        Financial support of kids in less-fortunate communities
      </li>
      <li>Outreach and exposure to subjects such as clean water, AIDS, and education</li>
      <li>Sponsored sporting events for young people in communities and schools</li>
      <li>
        Financial, educational and material support of women, particularly single mothers and uneducated/under-educated children in learning a trade or business to better their lives and their community.
      </li>
    </ul>
    <p>
      Working within the heart of communities and their infrastructure, we’ve created a force of over 4,000 friends – interested in bettering our communities and ourselves. As a result of these efforts, Seek Ye grew into the Plant A Seed Foundation in 2010, a bi-continental organization in the United States and Cameroon. Combining the resources of both continents, we continue to plant seeds of hope and knowledge to grow strong communities in our home Cameroon and beyond.
    </p>
    <h1 class="hh1">meet the founder</h1>
    <h3>Ruth Akumbu</h3>
    <%# image_tag "ruth-1.jpg" %>
    <%= image_tag "ruth-2.jpg", :class => "circle-image" %>
    <%# image_tag "ruth-3.jpg" %>
    <p>
      Ruth V. Akumbu was born in Bamenda, the N.W. Province of Cameroon in 1977. She left her parents at the age of 13 years to live with her uncle in Yaoundé, eight hours away so she could attend secondary school (junior high and high school). She received her high school certificate seven years later. She also had the privilege of learning French as Yaoundé is in the French-speaking zone of Cameroon. In 2001, she started a non-profit organization called, Seek Ye Multipurpose Group. Her work with this group enabled her to come to the USA where she has been living since 2002 working and financing the group’s activities. She lived in Minnesota for 2 1/2 years but had to leave because of the cold weather and came to Los Angeles where she now works in the entertainment industry. In 2007, she started a production company called Dreams And Visions Entertainment.
    </p>

    <h1 class="hh1">Board Members</h1>
    <h3>Michael Theophilus</h3>
    <%= image_tag "michael-theophilus.jpg", :class => "circle-image" %>
    <p>
      Michael Theophilus - Born in 1964 on the highlands of Bamenda Cameroon, Michael Theophilus believes that education is the key to overcoming poverty. On his return from the University in 1994, he observed that computers maintenance was absent in Cameroon. Computers were being shipped to France for basic maintenance. He founded Cameroon Association for computer Science and information Technology in 1995 and began training high school graduates in basic computer maintenance and upgrade. The program was a big success. In 2001, he was interviewed by the wife of the Dutch Consul and an article was written by his work in a Dutch Magazine. This lead to his accreditation as a member of the World Summit on the Information Society (WSIS) International Telecommunication Union Headquarters and Palace des Nations Geneva - Switzerland.
    </p>
    <p>Education</p>
    <ul>
      <li>Colorado Technical University: Bachelor of Science –International Business/IT Security</li>
      <li>Colorado Technical University: MBA -Technology Management.</li>
      <li>Colorado Technical University Network+ (2010)</li>
      <li>UNITEK College, Fremont, San Jose CA. CCIE Voice (Written) (2009)</li>
      <li>Cisco Certified Voice Professional (CCVP) (2009</li>
      <li>Cisco Certified Design Associate (CCDA) (2008)</li>
      <li>Cisco Certified Network Associate (CCNA) (2008), A+, Network+ and Security+. (2007)</li>
      <li>Additional Professional Information Technology Training certifications</li>
    </ul>
    <h3>Catherine Achu Lamfu</h3>
    <%= image_tag "catherine-achu-lamfu.jpg", :class => "circle-image" %>
    <p>
      Catherine brings the following experiences to the Organization.
      Extensive experience in education, including Headmistress of Covenant Baptist Primary School
      Born and raised in Cameroon
      Cameroon News and Publishing Agency (SOPECAM),
      Activa Insurance Company
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <h1 class="hh1">Advisors</h1>
    <h3>Matthew Oquist</h3>
    <%= image_tag "matthew-oquist.jpg", :class => "circle-image" %>
    <p>
      Matthew Oquist is the National Director of Development. contact at:
    </p>
    <p>
      Kids Against Hunger
      5401 Boone Ave North
      New Hope, MN 55427
    </p>
    <a href="mailto:matt@kidsagainsthunger.org">matt@kidsagainsthunger.org</a>
    </br>
    <a href="kidsagainsthunger.org">kidsagainsthunger.org</a>
    <h3>Rashel Mereness</h3>
    <%= image_tag "rashel-mereness.jpg", :class => "circle-image" %>
    <p>
      Rashel Mereness is an Attorney at Law at the The Production Law Firm
    </p>
    <a href="mailto:info@productionlawfirm.com">info@productionlawfirm.com</a>
    </br>
    <a href="productionlawfirm.com">productionlawfirm.com</a>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <h1 class="hh1">Volunteers</h1>
    <h3><u>Tim Evans</u> - Helps with up keep of our computers.</h3>
    <h3><u>Seth Barker</u> - Helps with our newsletters and marketing of Plant A Seed to his school.</h3>
    <h3><u>Benhan Tafla</u> - Helps with office administration.</h3>

    <h1 class="hh1">Cameroon Staff</h1>
    <h3><u>Pauline Ndifon</u> - Administrator - Takes care of the office in Cameroon.</h3>
    <h3><u>Elvis Akumbu</u> - Administrative Assistant - Assists with field work.</h3>

    <h1 class="hh1">You</h1>
    <h4>
      you too! - volunteer, advisor, or board member - We are seeking volunteer staff and board members!
      <%= link_to "Contact Us", contact_path %> for more information.
    </h4>
  </div>
</div>
