<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-left">
      <%= image_tag "logo.png", class: "logo" %>
      <div class="header-image"><%= image_tag "header-home.jpg", :class => "left-image" %></div>
    </div>

    <div class="small-12 large-6 columns header-home-right">
      <h1>Our Mission:</h1>
      <p>
        To plant seeds of hope, change and opportunity in schools, individuals and communities in Cameroon and around the world through education, sports, and clean water.
      </p>
    </div>
    <div class="small-12 large-6 columns">
      <%= render "social/social" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns stylebox1">
    <h1>Blog</h1>
    <%= render :partial => @posts %>
    <%= link_to "All Blog Posts", posts_path, class: "button2 text-center display-block" %>
  </div>
  <div class="small-12 large-6 columns stylebox2 ">
    <h1>Newsletters</h1>
    <%= render :partial => @newsletters %>
  </div>
  <div class="small-12 large-6 columns stylebox2 ">
    <%= link_to "All Newsletters", newsletters_path, class: "button text-center display-block" %>
  </div>
</div>
