<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-left">
      <%= image_tag "logo.png", class: "logo" %>
      <div class="header-image"><%= image_tag "header-home.jpg", :class => "left-image" %></div>
      <!-- facebook like button -->
      <div class="fb-like" data-href="https://www.facebook.com/pages/Plant-A-Seed/190180901003258" data-width="220px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="small-12 large-6 columns header-right" style="margin-bottom: 0px;">
      <h1>Our Mission:</h1>
      <p>
        To plant seeds of hope, change and opportunity in schools, individuals and communities in Cameroon and around the world through education, sports, and clean water.
      </p>
    </div>
    <div class="small-12 large-6 columns">
      <%= render "social/social" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="buffer3 show-desktop">&nbsp;</div>
  <div class="small-12 large-6 columns stylebox1">
    <h1>
      <%= link_to "Blog", posts_path %>
    </h1>
    <%= render :partial => @posts %>
    <%= link_to "All Blog Posts", posts_path, class: "button2 text-center display-block" %>
  </div>
  <div class="small-12 large-6 columns stylebox2 ">
    <h1>
      <%= link_to "Newsletters", newsletters_path %>
    </h1>
    <div class="buffer2"></div>
    <%= render :partial => @newsletters %>
  </div>
  <div class="small-12 large-6 columns stylebox2 ">
    <%= link_to "All Newsletters", newsletters_path, class: "button text-center display-block" %>
  </div>
</div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
