<div class="row">
  <div class="small-12 columns">
    </br>
    <h3 class="auth"><%= link_to 'New Photo', new_photo_path %></h3>
    <h1>Photos</h1>

    <table class="photos_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Image</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= photo.name %></td>
            <td><%= photo.category %></td>
            <td><%= photo.description %></td>
            <td><%= image_tag photo.image.url(:thumb) %></td>
            <td><%= link_to 'Show', photo, class: "auth" %></td>
            <td><%= link_to 'Edit', edit_photo_path(photo), class: "auth" %></td>
            <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "auth" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
