<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @photo.name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= @photo.category %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @photo.description %>
    </p>
    <p>
      <strong>Photo:</strong>
      <%= image_tag @photo.image.url(:thumb) %>
    </p>

    <h3><%= link_to 'Edit', edit_photo_path(@photo) %></h3>
    <h3><%= link_to 'Back', photos_path %></h3>
  </div>
</div>
