<div class="clearfix">
  <h1 class="hh1"><%= post.title %></h1>
  <% if current_user %>
    <div class="auth">
      <%= link_to "Show Post", post %>
    </div>
    </br>
  <% end %>
  <p class="hh5"><%= post.author %></p>
  <h4><%= time_ago_in_words(post.created_at) %> ago</h4>
  <%= image_tag post.image.url(:medium), class: "left-image" %>
  <%= simple_format post.body %>
</div>
<div class="comments">
  <h2 class="hh1">Comments</h2>
  <% render :partial => post.comments %>

  <%= form_for [post, Comment.new] do |f| %>
    <h4>New comment</h4>
    <p><%= f.text_area :body %></p>
    <p><%= f.submit "Add comment" %></p>
  <% end %>
</div>
