<footer>
  <div class="icon-impresh"><!--logo--></div>
  <div class="small-5 columns">
    <h1 class="plant-text">"Planting Seeds of Hope"</h1>
  </div>
  <div class="small-2 columns">
    <ul id="footer-nav">
      <h3><%= nav_link "home", root_url %></h3>
      <h3><%= nav_link "about", about_path %></h3>
      <h3><%= nav_link "newsletters", newsletters_path %></h3>
      <h3><%= nav_link "news&media", media_path %></h3>
      <h3><%= nav_link "Programs", programs_path %></h3>
      <h3><%= nav_link "Blog", posts_path %></h3>
    </ul>
  </div>
</footer>
