<div class="border-blue">
  <div class="row" id="nav">
    <div class="small-2 columns">
      <%= nav_link "home", root_url %>
    </div>
    <div class="small-2 columns">
      <%= nav_link "about", about_path %>
    </div>
    <div class="small-2 columns">
      <%= nav_link "newsletters", newsletters_path %>
    </div>
    <div class="small-2 columns">
      <%= nav_link "news&media", media_path %>
    </div>
    <div class="small-2 columns">
      <%= nav_link "Programs", programs_path %>
    </div>
    <div class="small-2 columns">
      <%= nav_link "Blog", posts_path %>
    </div>
  </div>
</div>
