<div class="border-blue">
  <div class="row" id="nav">
    <div class="small-2 columns">
      <%= link_to "home", root_url, :class => "active" %>
    </div>
    <div class="small-2 columns">
      <%= link_to "about", about_path %>
    </div>
    <div class="small-2 columns">
      <%= link_to "newsletters", newsletters_path %>
    </div>
    <div class="small-2 columns">
      <%= link_to "news&media", media_path %>
    </div>
    <div class="small-2 columns">
      <%= link_to "donate", donate_path %>
    </div>
    <div class="small-2 columns">
      &nbsp;
    </div>
  </div>
</div>
