<div class="border-blue">
  <div id="nav">
    <%= nav_link "home", root_url %>
    <%= nav_link "about", about_path %>
    <%= nav_link "newsletters", newsletters_path %>
    <%= nav_link "news&media", media_path %>
    <%= nav_link "Programs", programs_path %>
    <%= nav_link "Blog", posts_path %>
  </div>

</div>
